@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
h1,h2{
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    
}
h2{
    font-family: Helvetica, sans-serif;
}
img{
    width: 800px;
    height: 500px;
    display:block;
    margin-left: auto;
    margin-right: auto;


}
ul{
    display:flex;
    justify-content: center;
}
li{
    
    font-family: 'Alfa Slab One';
    list-style-type: none;
    padding: 20px;
}
a{
    -webkit-text-stroke: 0.3px black;   
    color: white;
    text-decoration: none;
}
.h1decorator{
    -webkit-text-stroke: 0.2px black;
    color:white;
    background:linear-gradient(35deg, yellow, blue, red );
}
.uldecorator{
    margin-left: 34em;
    margin-right: 34em;
    background:linear-gradient(35deg, yellow, blue, red );
}